In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '../result/ID_K.csv'
df = pd.read_csv(path)
df.head(1)

   PLAYER_ID  K
0        708  1

In [3]:
ID = []
for i in range(df.shape[0]):
    if df['PLAYER_ID'][i] not in ID:
        ID.append(df['PLAYER_ID'][i])
len(ID)

472

In [4]:
col = ['PLAYER_ID']
for i in range(12):
    col.append('FG_K_'+str(i+1))
df_FG = pd.DataFrame(-np.ones((len(ID),13)), columns=col)
df_FG['PLAYER_ID'] = ID
df_FG.head(3)

,PLAYER_ID,FG_K_1,FG_K_2,FG_K_3,FG_K_4,FG_K_5,FG_K_6,FG_K_7,FG_K_8,FG_K_9,FG_K_10,FG_K_11,FG_K_12
0,708,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,951,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,959,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [5]:
for i in range(len(ID)):
    df_ID = pd.DataFrame(df[df['PLAYER_ID']==ID[i]].values, columns=['PLAYER_ID','K'])
    for k in range(1,13):
        hit = 0
        miss = 0
        for m in range(df_ID.shape[0]):
            if df_ID['K'][m] == k:
                miss += 1
            elif df_ID['K'][m] > k:
                hit += df_ID['K'][m]-k
        if hit + miss > 0:
            df_FG['FG_K_'+str(k)][i] = hit/(hit+miss)
df_FG.head()

,PLAYER_ID,FG_K_1,FG_K_2,FG_K_3,FG_K_4,FG_K_5,FG_K_6,FG_K_7,FG_K_8,FG_K_9,FG_K_10,FG_K_11,FG_K_12
0,708,0.500000,0.413043,0.642857,0.666667,0.333333,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,951,0.467742,0.507692,0.458333,0.222222,0.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,959,0.407407,0.200000,1.000000,0.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,965,0.357143,0.323529,0.625000,0.666667,0.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,977,0.650000,0.181818,0.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [6]:
# df_FG.to_csv('../result/FG_K.csv'ï¼Œindex=False)