In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'E:\\repo\\Hot-hands\\data\\shots_13-14.csv'
df = pd.read_csv(path)

In [3]:
df_1 = df[['GAME_ID','PTS','PTS_TYPE','SHOT_NUMBER','SHOT_MADE_FLAG','PLAYER_ID']]
df_1.head()

    GAME_ID  PTS  PTS_TYPE  SHOT_NUMBER  SHOT_MADE_FLAG  PLAYER_ID
0  21300004    0         2            1               0        708
1  21300004    2         2            2               1        708
2  21300004    0         2            3               0        708
3  21300004    2         2            4               1        708
4  21300004    0         2            5               0        708

In [4]:
df_k = pd.DataFrame(np.zeros((54490,2)), columns=['PLAYER_ID','K'])
m = 0
i = 1
flag = 0
while i in range(1,df_1.shape[0]):
    k = 0
    if df_1['SHOT_MADE_FLAG'][i]-df_1['SHOT_MADE_FLAG'][i-1]==1 or flag==1:
        flag = 0
        while df_1['SHOT_MADE_FLAG'][i]==1:
            k = k + 1
            i = i + 1
            if df_1['SHOT_MADE_FLAG'][i]==1 and df_1['GAME_ID'][i]!=df_1['GAME_ID'][i-1]:
                flag = 1
                break
        df_k['PLAYER_ID'][m] = df_1['PLAYER_ID'][i-1]
        df_k['K'][m] = k
        k = 0
        m += 1
    else:
        i += 1
df_k['PLAYER_ID'] = df_k['PLAYER_ID'].astype(int)
df_k['K'] = df_k['K'].astype(int)

In [7]:
np.mean(df_k['K'])

1.6765094512754635

In [8]:
df_k.to_csv('E:\\repo\\Hot-hands\\result\\ID_K.csv',index=False)