In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'E:\\repo\\Hot-hands\\data\\shots_13-14.csv'
df = pd.read_csv(path)

In [3]:
df = pd.DataFrame(df[['PLAYER_NAME','PLAYER_ID']])

Curry 201939  
KT    202691  
James harden 201935  
Kobe 977  
PP 1718  
LBJ 2544  
D.ROse 201565

In [19]:
df[df['PLAYER_NAME']=='Klay Thompson']

          PLAYER_NAME  PLAYER_ID
152049  Klay Thompson     202691
152050  Klay Thompson     202691
152051  Klay Thompson     202691
152052  Klay Thompson     202691
152053  Klay Thompson     202691
...               ...        ...
153266  Klay Thompson     202691
153267  Klay Thompson     202691
153268  Klay Thompson     202691
153269  Klay Thompson     202691
153270  Klay Thompson     202691

[1222 rows x 2 columns]