In [22]:
import pandas as pd
import numpy as np

In [23]:
path = 'E:\\repo\\Hot-hands\\data\\shots_13-14.csv'
df = pd.read_csv(path)

In [25]:
df_1 = df[['PTS','PTS_TYPE','SHOT_NUMBER','SHOT_MADE_FLAG','PLAYER_ID']]
df_1.head(30)

     GAME_ID  PTS  PTS_TYPE  SHOT_NUMBER  SHOT_MADE_FLAG  PLAYER_ID
0   21300165    0         2            1               0     202779
1   21300165    3         3            2               1     202779
2   21300165    0         3            3               0     202779
3   21300165    0         3            4               0     202779
4   21300230    3         3            1               1     202779
5   21300230    0         2            2               0     202779
6   21300230    0         3            3               0     202779
7   21300103    0         2            1               0     202779
8   21300103    0         2            2               0     202779
9   21300103    2         2            3               1     202779
10  21300103    2         2            4               1     202779
11  21300103    0         2            5               0     202779
12  21300103    0         3            6               0     202779
13  21300074    2         2            1               1     202779
14  21300114    0         2            1               0     202779
15  21300147    2         2            1               1     202779
16  21300147    0         2            2               0     202779
17  21300147    2         2            3               1     202779
18  21300085    0         2            1               0     202779
19  21300085    0         3            2               0     202779
20  21300085    2         2            3               1     202779
21  21300023    3         3            1               1     202779
22  21300023    0         2            2               0     202779
23  21300023    0         2            3               0     202779
24  21300312    3         3            1               1     202779
25  21300312    0         2            2               0     202779
26  21300312    0         2            3               0     202779
27  21300312    0         2            4               0     202779
28  21300312    0         2            5               0     202779
29  21300312    2         2            6               1     202779

In [20]:
df = pd.DataFrame(columns=['PLAYER_ID','K'])
m = 0
for i in range(df_1.shape[0]):
    id = df_1['PLAYER_ID'][i]
    k = 0
    while(df_1[''])

Empty DataFrame
Columns: [PLAYER_ID, K]
Index: []